html {
	height: 100vh;
	width: 100vw;
}
body {
	height: 100vh;
	width: 100vw;
	font-family: Roboto;
	background: linear-gradient(135deg, #262626, #222326);
	color: white;
}
.loginview h1 {
	font-weight: 100;
	font-size: 75px;
	margin: 75px 0 40px 0;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #D9D7DB;
}
.loginview p {
	font-weight: 300;
	margin: 0 0 50px 0;
}
.login-signup a {
	color: white;
	font-weight: 300;
	padding: 50px 40px;
}
.login-signup a:hover {
	text-decoration: none;
	font-weight: 300;
	padding: 50px 40px;
}
.login-signup {
	background-color: #1ED760;
	padding: 10px 0;
	border-radius: 5px;
	margin: 0 20px 0 20px;
}
.login-signup:hover {
	cursor: pointer;
	background-color: #4FC773;
	padding: 10px 0;
	border-radius: 5px;
	margin: 0 20px 0 20px;
}