html {
	height: 100vh;
	width: 100vw;
}
body {
	height: 100vh;
	width: 100vw;
	font-family: Roboto;
	background: linear-gradient(135deg, #262626, #262626);
	color: white;
}
a {
	color: #D9D7DB;
}
input {
	color: #D9D7DB;	
}


/* LOGIN VIEW STYLES */


.loginview {
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: fadein 2s; /* Firefox < 16 */
	    -ms-animation: fadein 2s; /* Internet Explorer */
	     -o-animation: fadein 2s; /* Opera < 12.1 */
	        animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.loginview h1 {
	font-weight: 100;
	font-size: 75px;
	margin: 75px 0 40px 0;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #D9D7DB;
}
.loginview p {
	font-weight: 300;
	margin: 0 0 50px 0;
}
.login-signup a {
	color: white;
	font-weight: 300;
	padding: 50px 40px;
}
.login-signup a:hover {
	text-decoration: none;
	font-weight: 300;
	padding: 50px 40px;
}
.login-signup {
	background-color: #1ED760;
	padding: 10px 0;
	border-radius: 5px;
	margin: 0 20px 0 20px;
}
.login-signup:hover {
	cursor: pointer;
	background-color: #4FC773;
	padding: 10px 0;
	border-radius: 5px;
	margin: 0 20px 0 20px;
}


/* NAV VIEW STYLES */

nav {
	padding: 20px;
	border-bottom: 1px solid #79787A;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: fadein 2s; /* Firefox < 16 */
	    -ms-animation: fadein 2s; /* Internet Explorer */
	     -o-animation: fadein 2s; /* Opera < 12.1 */
	        animation: fadein 2s;
}
#nav-header {
	margin: 20px 40px;
}
nav a {
	margin: 20px 40px 20px -10px;
	color: #D9D7DB;
	border-bottom: none;
}
nav a:hover {
	color: #999999;
	text-decoration: none;
	padding-bottom: 21px;
	border-bottom: 2px solid #4FC773;
}
nav a:visited {
	color: #D9D7DB !important;
	margin: 20px;
}


/* SEARCH VEIW STYLES */


#search {
 	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
 	   -moz-animation: fadein 2s; /* Firefox < 16 */
 	    -ms-animation: fadein 2s; /* Internet Explorer */
 	     -o-animation: fadein 2s; /* Opera < 12.1 */
 	        animation: fadein 2s;
 }
 .search-description {
 	padding: 25px 0 0 0;
 	color: gray;
 }
 #search-term {
 	padding: 25px 0 0 5px; 
 	color: #D9D7DB !important;
 	background-color: none !important;
 }
 .user-side {
 	border-right: 1px solid #404040;
 }
.playlist-results a:hover {
	text-decoration: none;
	color: gray;
}
.playlist-results p {
	margin: 10px 0 20px 0;
}
.playlist-results .take-quiz {
	cursor: pointer;
	color: white;
	background-color: #1ED760;
	border-radius: 5px;
	padding: 5px 10px;
}
.playlist-results .take-quiz:hover {
	color: #D9D7DB;
	background-color: #4FC773;
}
.playlist-results img {
	margin: 50px 0 0 0;
	height: 90px;
	width: 90px;
}
h3 {
	margin: 50px 0 0 0;
	font-weight: 100;
}
.user-playlists {
	margin: 25px 0;
}
.user-playlists p {
	color: gray;
	padding: 0 0 0 5px;
}
.user-playlists p:hover {
	color: #D9D7DB;
	border-left: 1px solid #1ED760;
}
.user-playlists a:hover {
	text-decoration: none;
}
.search form {
	margin: 25px 0 0 0;
}


/* QUIZ STYLING */
#time-display {
	margin:  0 0 25px 0;
}
#game-score {
	margin: 25px 0;
	font-weight: 100;
}
#quiz-playlist-title {
	margin: 50px 0 25px 0;
	font-weight: 100;
	font-size: 50px;
}
#quiz-timer-counter {
	color: white;
	border-bottom: 1px solid #1ED760;
	font-size: 25px;
	width: 100px;
	margin: 0 auto;
}
#game-ended h1 {
	font-weight: 100;
}
#try-again {
	margin: 50px 0 0 0;
}
#try-again #try-button {
	cursor: pointer;
	color: white;
	background-color: #1ED760;
	padding: 10px 20px;
	border-radius: 5px;
}
#try-again a:hover {
	text-decoration: none;
	background-color: #4FC773;
}
#quiz-form {
	margin: 40px 0;
}
