<div class="fullview loginview" ng-controller="LoginController as login">
  <div class="centered" ng-hide="isLoggedIn">
    <div class="inner">
      <h1>Drop The Needle</h1>
      <p>
        This demo explores the possibilities with the Web API. To view this demo you need to sign in with your spotify account.
      </p>
      <a ng-click="login()" class="button big green">login</a>
      <a ng-click="logout()" class="button big green">logout</a>
    </div>
  </div>
</div>

<div ng-show="isLoggedIn">
  <h3 class='text-center'>Search for a playlist</h3>
  <form ng-submit="searchPlaylist()">
    <div class='form-group'>
      <input type="text" class='form-control' ng-model="term"/>
    </div>
    <div class="pull-right">
      <button type="submit" class='btn btn-default'>Search</button>
    </div>
  </form>
  <hr>
  <div id='playlist-results'>
    <div class="row"></div>
      <div class="col-xs-3" ng-repeat="playlist in playlists">
        <div ng-click="setPlaylistScope(playlist.id, playlist.owner.id)">
          <a ui-sref="quiz" >
            <!-- <input type="hidden" value="{{playlist.id}}"> -->
            <img ng-src="{{playlist.images[2].url}}">
            <p>{{playlist.name}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>