<div class="fullview loginview" ng-controller="LoginController as login">
  <div class="centered" ng-hide="isLoggedIn">
    <div class="inner">
      <h1 class="text-center">Drop The Needle</h1>
      <div id="welcome-text" class="col-sm-6 col-sm-offset-3">
        <p class="text-center">
          Drop The Needle is a music quiz game that tests your music knowledge.<br>Simply search and choose a playlist, then guess the artist of each song snippet.
        </p>
        <p class="text-center">This application uses Spotify as the source of it's music.<br>Please sign in or sign up for Spotify below to start playing.</p>
        <div class="text-center">
          <span class="login-signup"><a ng-click="login()">Login / Sign Up</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="isLoggedIn" id="searchView">
  
  <!-- Search View -->
  <div id="search">
    <div class="row">
      <!-- User's Playlists -->
      <div class="col-md-3 col-xs-6 user-side">
        <h3>Your Playlists</h3>
        <div class="user-playlists">
          <div ng-repeat="playlist in userPlaylists">
            <div ng-click="setPlaylistScope(playlist.id, playlist.owner.id, playlist.name)">
              <a ui-sref="quiz" >
                <p>{{playlist.name}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Search Side-->
      <div class="col-md-9 col-xs-6">
        <div ng-controller='PlaylistSearchController' class="search">
          <h3 class='text-center'>Search for a playlist</h3>
          <form ng-submit="searchPlaylist()">
            <div class='input-group col-sm-6 col-sm-offset-3'>
              <input type="text" class='form-control' placeholder="Playlist Name" ng-model="term"/>
              <span class="input-group-btn">
                <button type="submit" class='btn btn-default'>Search</button>
              </span>
            </div>
          </form>
          <!-- search results -->
          <div class='playlist-results'>
            <div class="row">
              <div class="col-md-3 col-xs-6" ng-repeat="playlist in playlists">
                <div ng-click="setPlaylistScope(playlist.id, playlist.owner.id)" class="text-center">
                  <a ui-sref="quiz" >
                    <!-- <input type="hidden" value="{{playlist.id}}"> -->
                    <img ng-src="{{playlist.images[2].url}}">
                    <p>{{playlist.name}}</p>
                    <span>Take Quiz</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>

</div>
