<h1 class="text-center" id="quiz-playlist-title">Playlist title</h1>
<div id="quiz-form" ng-show="game">
	<div id="time-display" class="text-center">
		<p id="quiz-timer-counter" >
			{{ counter }}
		</p>
	</div>
	<form ng-submit="compareAnswer()" class="input-group col-sm-6 col-sm-offset-3">
		<input type="text" class="form-control" ng-model="answer" placeholder="Artist" autofocus>
		<span class="input-group-btn">
			<button type="submit" class="btn btn-default pull-right">Answer</button>
		</span>
	</form>
<div class="text-center">
	<p id="game-score">Score: {{score}} / {{gameLength}}</p>
</div>
</div>
<div id="game-ended" ng-hide="game">
	<div class="text-center">
		<h1>You got {{score}} out of {{gameLength}} right!</h1>
		<div id="try-again">
			<a href="#">Try Again</a>
		</div>
	</div>
</div>