<h1 class="text-center" id="quiz-playlist-title">Playlist title</h1>
<div id="score-display" class="text-center">
	<span ng-repeat="p in promiseArray">
		<span ng-class="styling" id="score-{{$index}}">
			{{$index+1}}
		</span>
	</span>
</div>
<div id="quiz-form" ng-show="game">
	<!-- <h1>Score: {{score}} / {{gameLength}}</h1> -->
	<form ng-submit="compareAnswer()" class="input-group col-sm-6 col-sm-offset-3">
		<input type="text" class="form-control" ng-model="answer" placeholder="Artist" autofocus>
		<span class="input-group-btn">
			<button type="submit" class="btn btn-default pull-right">Answer</button>
		</span>
	</form>
	<!-- TIMER -->
	<div class="quiz-timer text-center">
	  <ol class="clock">
	    <li class="sec">
	      <div class="ten">
	        <span>0</span>
	        <span>1</span>
	        <span>2</span>
	        <span>3</span>
	      </div>
	      <div class="one">
	        <span>0</span>
	        <span>1</span>
	        <span>2</span>
	        <span>3</span>
	        <span>4</span>
	        <span>5</span>
	        <span>6</span>
	        <span>7</span>
	        <span>8</span>
	        <span>9</span>
	        <span>0</span>
	      </div>
	    </li>
	  </ol>
	  <p>You only have 30 seconds to guess!</p>
	</div>
</div>
<div id="game-ended" ng-hide="game">
	<div class="text-center">
		<h1>You got {{score}} out of {{gameLength}} right!</h1>
		<div id="try-again">
			<a href="#">Try Again</a>
		</div>
	</div>
</div>